
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.formControls_btnSubmit {
  transition: 0.3s;
}

.formControls .formControls_btnSubmit:hover {
  background: #efdfdf;
  color: #b18036;
}
